.wrapper {
	background-color: #FEFEFE;
	color: #222222;
/*	max-width: 978px;
*/	margin: 0 auto;
}

#projectName {
	color: black;
	font-size: 2.3em;
	font-weight: 600;
}

.home__wrapper a {
	color: #222222;
}

.home__wrapper h1,
.home__wrapper h2 {
	text-align: center;
}

.btn {
	display: inline-block;
	background-color: skyblue;
	padding: 0.5em;
	color: #FEFEFE;
	border-radius: 3px;
	text-decoration: none;
}

.logo {
	max-height: 5em;
	margin: 0 auto;
	display: block;
}

.home__label {
	display: block;
	width: 100%;
	margin: 1em 0;
}

.home__input {
	margin-left: 0.5em;
	border-radius: 2px;
	border-width: 1px;
	border-color: grey;
	padding: 0.3em;
}

/*HOMEPAGE - ARTICLE LIST ITEMS*/
.article-list-container {
/*	border-bottom: 2px solid gray;
*/
}

.article-list-categories {
	font-weight: 900;
}

.article-body {
	border-top: 1px solid gray;
	padding: 8px 5px 8px 5px;
}

.article-name {
	font-size: 1.3em;
	font-weight: 500;
}

.article-list-item-date {
	font-size: 0.9em;	
}

.article-bulletpoints {
	font-size: 0.9em;
}

.article-header-image {
	border-radius: 3%;
}

/*ARTICLE PAGE*/
.entity-categories {
	font-size: 1.1em;
	font-weight: 600;
}

.entity-item {
	padding: 0.3em;
	line-height: 1em;
}

.entity-item:hover {
	background-color: lightgray;
}

a {
	text-decoration: none;
}

.article-top3-entities {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 4px;
	margin-bottom: 7px;
}

.article-top3-entities div {
	display: inline;
	padding: 2px 7px 2px 7px;
	margin: 0 6px 0 0;
	border: 1px solid lightgray;
	color: gray;
	font-size: .9em;
	border-radius: 8px;
	position: relative;
	align-self: center;
}

.article-top3-entities div:hover {
	border: 1px solid black;
	color: black;
}






